.redColor
{
    background-color: red;
    color: white;
}
.yellowColor
{
    background-color: rgb(223, 209, 15);
    color: white;
}
.blueColor
{
    background-color: rgb(64, 23, 211);
    color: white;
}

.greenColor
{
    background-color: rgb(9, 255, 0);
    color: white;
}
.baseColor
{ 
 background-color:black;
  color:whitesmoke;

}