h1{
    color: red;
    font-size: 30px;
}
/* c-css-child-demo{
    display: block;
    background-color: green;
    color: aliceblue;
} */
p{
    font-size: 20px;
    color: blueviolet;
}